# Checkpoint 0

These exercises are a mix of Python and Pandas practice. Most should be no more than a few lines of code!

In [2]:
# here is a Python list:

a = [1, 2, 3, 4, 5, 6]

In [4]:
# get a list containing the last 3 elements of a
# Yes, you can just type out [4, 5, 6] but we really want to see you demonstrate you know how to use list slicing in Python
b = a[3:]
print(b)

[4, 5, 6]

In [9]:
# create a list of numbers from 1 to 20
c = list(range(1,21))
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [13]:
# now get a list with only the even numbers between 1 and 100
# you may or may not make use of the list you made in the last cell

c = [x for x in list(range(1,101)) if (x%2 == 0)]
print(c)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [14]:
# write a function that takes two numbers as arguments
# and returns the first number divided by the second
def divide(a,b):
    return a/b

print(divide(4,2))

2.0

In [15]:
# write a function that takes a string as input
# and return that string in all caps
def all_caps(a):
    return a.upper()

print(all_caps("hello world"))

HELLO WORLD

In [16]:
# fizzbuzz
# you will need to use both iteration and control flow 
# go through all numbers from 1 to 30 in order
# if the number is a multiple of 3, print fizz
# if the number is a multiple of 5, print buzz
# if the number is a multiple of 3 and 5, print fizzbuzz and NOTHING ELSE
# if the number is neither a multiple of 3 nor a multiple of 5, print the number

for x in range(1, 31):
    if x%5 == 0 and x%3 == 0:
        print("fizzbuzz")
    elif x%3 == 0:
        print("fizz")
    elif x%5 == 0:
        print("buzz")

fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz
fizz
buzz
fizz
fizz
buzz
fizz
fizzbuzz

In [17]:
# create a dictionary that reflects the following menu pricing (taken from Ahmo's)
# Gyro: $9 
# Burger: $9
# Greek Salad: $8
# Philly Steak: $10

a = {"Gyro": 9, "Burger": 9, "Greek Salad": 8, "Philly Steak": 10}
print(a)

{'Gyro': 9, 'Burger': 9, 'Greek Salad': 8, 'Philly Steak': 10}

In [20]:
# load in the "starbucks.csv" dataset
# refer to how we read the cereal.csv dataset in the tutorial
import pandas as pd
df = pd.read_csv("../data/starbucks.csv")
df

,beverage_category,beverage,beverage_prep,calories,total fat,trans fat,saturated fat,sodium,total carbohydrates,cholesterol,dietary fibre,sugars,protein,vitamin a,vitamin c,calcium,iron,caffeine
0,coffee,brewed coffee,Short,3,0.1,0.0,0.0,0,5,0,0,0,0.3,0,0,0,0.0,175.0
1,coffee,brewed coffee,Tall,4,0.1,0.0,0.0,0,10,0,0,0,0.5,0,0,0,0.0,260.0
2,coffee,brewed coffee,Grande,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,0,0.0,330.0
3,coffee,brewed coffee,Venti,5,0.1,0.0,0.0,0,10,0,0,0,1.0,0,0,2,0.0,410.0
4,classic espresso drinks,caff latte,Short Nonfat Milk,70,0.1,0.1,0.0,5,75,10,0,9,6.0,10,0,20,0.0,75.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,frappuccino blended crme,strawberries crme (without whipped cream),Soymilk,320,3.2,0.4,0.0,0,250,67,1,64,5.0,6,8,20,10.0,0.0
238,frappuccino blended crme,vanilla bean (without whipped cream),Tall Nonfat Milk,170,0.1,0.1,0.0,0,160,39,0,38,4.0,6,0,10,0.0,0.0
239,frappuccino blended crme,vanilla bean (without whipped cream),Whole Milk,200,3.5,2.0,0.1,10,160,39,0,38,3.0,6,0,10,0.0,0.0
240,frappuccino blended crme,vanilla bean (without whipped cream),Soymilk,180,1.5,0.2,0.0,0,160,37,1,35,3.0,4,0,10,6.0,0.0
241,frappuccino blended crme,vanilla bean (without whipped cream),Grande Nonfat Milk,240,0.1,0.1,0.0,5,230,56,0,55,5.0,8,0,15,0.0,0.0

In [31]:
# output the calories, sugars, and protein columns only of every 40th row. 
df.iloc[::40, df.columns.isin(['calories', 'sugars', 'protein'])]

     calories  sugars  protein
0           3       0      0.3
40          5       0      0.4
80        350      58     15.0
120       140      20      6.0
160       110      24      2.0
200       200      41      3.0
240       180      35      3.0

In [ ]:
# select all rows with more than and including 400 calories

In [ ]:
# select all rows whose vitamin c content is higher than the iron content

In [ ]:
# create a new column containing the caffeine per calories of each drink

In [ ]:
# what is the average calorie across all items?

In [ ]:
# how many different categories of beverages are there?

In [ ]:
# what is the average # calories for each beverage category?